<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>Title</title>
		<script src="../js/jquery-2.1.0.js"></script>
		<link rel="stylesheet" href="../layui/css/layui.css">
		<script src="../layui/layui.js"></script>
	
</head>
<body class="layui-layout-body ">
<div class="layui-layout layui-layout-admin ">
<!--导航栏-->
<ul class="layui-nav" style="text-align: right ">
    <li style="float: left;font-size: 20px;color: white;margin-top: 15px ">
        项目管理系统
    </li>
    <li class="layui-nav-item">
        <a href="../html/index.html">首页</a>
    </li>
    <li class="layui-nav-item">
        <a href="#">个人中心<span class="layui-badge-dot "></span></a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;">修改信息</a></dd>
            <dd><a href="javascript:;">安全管理</a></dd>
            <dd><a href="http://192.168.20.45:8888/sls/slss/loginOut">退出登录</a></dd>
        </dl>
    </li>
    <li class="layui-nav-item">
        <a id="outBtn">退出登录</a></a>
    </li>
</ul>
<div style="position: absolute;left:210px;top: 75px;width:100%;border-bottom: 1px solid black;">
		<span class="layui-breadcrumb" id="mbx"></span>
	</div>
	<!--<span id="menuFont" style="position: absolute;left:210px;top: 95px;font-size: 25px;"></span>-->
		
<!--左侧菜单栏-->
<div class="layui-side layui-bg-black ">
    <div class="layui-side-scroll ">

<ul class="layui-nav layui-nav-tree layui-inline " lay-filter="demo" style="margin-right: 10px; ">
    <!--<li class="layui-nav-item layui-nav-itemed ">
        <a href="javascript:; ">默认展开</a>
        <dl class="layui-nav-child ">
            <dd><a href="javascript:; ">选项一</a></dd>
            <dd><a href="javascript:; ">选项二</a></dd>
            <dd><a href="javascript:; ">选项三</a></dd>
            <dd><a href=" ">跳转项</a></dd>
        </dl>
    </li>-->
    <!--<li class="layui-nav-item " th:each="menu:${treelist} ">
        <a href="javascript:; " th:text="menu "></a>
        <dl class="layui-nav-child " th:each="me:${menu.children} ">
            <dd><a th:href="${me.url} " th:text="${me.title} "></a></dd>
        </dl>
    </li>-->
   
</ul>
    </div>
    
</div>

<div class="layui-body ">
	
    <!-- 内容主体区域 -->
    <iframe id="iframMain" src=" " style="z-index: 0; width: 100%;height: 100%;margin-top: 50px; border: 0;" ></iframe>
</div>
</div>
<script>
	
	//使用localStorage
	var  accessToken  = localStorage.getItem("at");	
	var  username  = localStorage.getItem("username");
	var treehtml = "";
	//加载菜单列表方法
	function login(){
		$.ajax({
		type:"get",
		url:"http://192.168.20.45:8888/tree/sysMenu/treelist",
		async:false,
		dataType:"json",
		data:{"accessToken":accessToken,"username":username},
		success:function (result) {
			console.log(JSON.stringify(result))
			if(result!=null&&result!=""&&result!=null){
				result.forEach(menu=>{
					treehtml+="<li class='layui-nav-item '>"
					treehtml+="<a href='javascript:; '>"+menu.title+"</a>";
					if(menu.children!=null){
						var me = menu.children
						me.forEach(m=>{
							treehtml=treehtml+"<dl class='layui-nav-child '>"+
							"<dd><a href='"+m.url+" '>"+m.title+"</a></dd></dl>";
						})
					}
					treehtml+="</li>";
				})
			
			console.log("111");
			$(".layui-nav-tree").html(treehtml);
		}
		}
		});
	}
	//判断用户是否登录
	if(username!=""&&username!=null&&username!=undefined){
		login();
	}else{
		window.location.href = "../login.html";
	}
	
		

		layui.use('element', function(){
			var element = layui.element;//导航的hover效果、二级菜单等功能，需要依赖element模块 
			//监听导航点击
			$("dd>a").click(function (e) { 
				e.preventDefault();
				$("#iframMain").attr("src",$(this).attr("href"));
				//获取面包屑一级功能
				var parentText = $(this).parent().parent().siblings()[0];
				//console.log($(parentText).text());
				var mbx = "<a herf="+$(parentText).attr("href")+">"+$(parentText).text()+"&nbsp/&nbsp"+"</a>"+
				"<a herf="+$(this).attr("href")+"><cite>"+$(this).text()+"</cite></a>"
				$("#mbx").html(mbx);
				$("#menuFont").html($(this).text())
				})
			$("#outBtn").click(function(){
				$.ajax({
					type:"get",
					url:"http://192.168.20.45:8888/sls/slss/loginOut",
					async:true,
					dataType:"json",
					data:{"accessToken":accessToken,"username":username},
					success:function (result) {
						console.log(result);
						if(result){
							localStorage.clear();
							window.location.href='../login.html';
						}else{
							alert("退出失败")
						}
						
					}
				})
			})
			});
		</script>
		
		
		

		</body>

</html>